<head><style>table, th, td { border: 1px solid black; }</style></head><table><tr><td>
"Your WUSTL Key</td><td>The number that shall not be named</td><td>Write one line of code that sets the third element of an array called a to 14. (10 points)</td><td>Write one line of code that prints out the last element of an array called y. (20 points)</td><td>Write one line of code that creates an array of 10 boolean values as a variable. (20 points)</td><td>You are given an array of doubles called values (do not create it!). Write code that will count how many elements in this array are greater than 0.7. Store the result of your count in a variable. (50 points)</td><td>TA</td><td>Q1</td><td>Q1 Comments</td><td>Q2</td><td>Q2 Comments</td><td>Q3</td><td>Q3 Comments</td><td>Q4 </td><td>Q4 Comments</td><td>Total"
</td></tr><tr><td>
"shaoyangzhou</td><td>440747</td><td>a[2]=14;</td><td>System.out.println(y[y.length-1]);</td><td>boolean bos[]=new boolean[10];</td><td>int result=0;<br>for(int i=0; i<values.length;i++){<br>	if (values[i]>0.7) {<br>		result++;<br>		}<br>	}</td><td>TomW</td><td>10</td><td>None</td><td>20</td><td>None</td><td>20</td><td>None</td><td>50</td><td>None</td><td>100"
</td></tr></table>
