<head><style>table, th, td { border: 1px solid black; }</style></head><table><tr><td>
"Your Name</td><td>Your WUSTL Key</td><td>The number that shall not be named</td><td>Write a loop that prints out the first 8 multiples of 4 (not including zero, 50 points)</td><td>Complete the following code so that it prints out "" Two Match"" if _exactly_ two out of the three given values are equal and ""No match"" otherwise. (50 points)</td><td>Grader</td><td>Q1 Grade (50pts)</td><td>Q1 Comments</td><td>Q2 Grade (50pts)</td><td>Q2 Comments</td><td>Total"
</td></tr><tr><td>
"Shaoyang Zhou</td><td>shaoyangzhou</td><td>440747</td><td>for(int i=1;i<9;i++){<br>	System.out.println(i*4);<br>	}</td><td>ArgsProcessor ap = new ArgsProcessor(args);<br>		int x=ap.nextInt(""Enter x:"");<br>		int y=ap.nextInt(""Enter y:"");<br>		int z=ap.nextInt(""Enter z:"");<br>		if ((x!=y)||(y!=z)){<br>			if ((x!=y)&&(y!=z)&&(x!=z)){<br>				System.out.println(""No matche"");<br>			}<br>			else{<br>				System.out.println(""Two Match"");<br>			}<br>		}<br>		else{<br>			System.out.println(""No matche"");<br>		}</td><td>ckwong</td><td>50</td><td>None</td><td>50</td><td>None</td><td>100"
</td></tr></table>
