<head><style>table, th, td { border: 1px solid black; }</style></head><table><tr><td>
"Your Name</td><td>Your WUSTL Key</td><td>The number that shall not be named</td><td>Using StdIn (NOT Argsprocessor!), prompt the user to enter their name. Then, prompt the user to enter their age. If the user enters an age less than 0, continue prompting them for their age until they give an age greater than zero. Finally, print out a greeting to the user that includes their name and age (100 points).</td><td>TA</td><td>Grade</td><td>Comments"
</td></tr><tr><td>
"Shaoyang Zhou</td><td>shaoyangzhou</td><td>440747</td><td>System.out.print(""Please enter your name: "");<br>		String s = StdIn.readString();<br><br>		System.out.print(""Please enter your age: "");<br>		int age = StdIn.readInt();<br><br>		while (age&lt;0) {<br>			System.out.print(""Age cannot be negative, please enter your age: "");<br>			age = StdIn.readInt();<br><br>		}<br>		System.out.println(""Your name is ""+s+"", and you are ""+age+"" years old."");</td><td>d.munro</td><td>100</td><td>None"
</td></tr></table>
