<head><style>table, th, td { border: 1px solid black; }</style></head><table><tr><td>
"Your WUSTL Key</td><td>TA</td><td>Your Name</td><td>The number that shall not be named</td><td>Complete the dup() method such that it duplicates every item in the list. This method does not create a new list! It modifies the existing list. You may do this iteratively or recursively. (50 points)</td><td>Complete the count(int n) method such that it returns the number of times the integer n appears in the list. You must do this recursively. You may use a helper method if you wish. (50 points)</td><td>Q1 (50pts)</td><td>Q1 Comments</td><td>Q2 (50pts)</td><td>Q2 Comments</td><td>Total",
</td></tr><tr><td>
"shaoyangzhou</td><td>JustinZ</td><td>Shaoyang Zhou</td><td>440747</td><td>public void dup(){<br>		ListItem temp=this;<br>		while (temp!=null){<br>			temp.next=new ListItem(temp.number,temp.next);<br>			temp=temp.next.next;<br>		}<br>	}</td><td>public int count(int n){<br>		if (this.next==null){<br>			if (this.number==n){<br>				return 1;<br>			}else{<br>				return 0;<br>			}<br>		}<br>		if (this.number==n){<br>			return 1+this.next.count(n);<br>		}else{<br>			return this.next.count(n);<br>		}<br>	}</td><td>50</td><td>THANK YOU</td><td>50</td><td>THANK YOU</td><td>100</td><td>"
</td></tr></table>
