<head><style>table, th, td { border: 1px solid black; }</style></head><table><tr><td>
"Your WUSTL Key</td><td>TA</td><td>Your Name</td><td>The number that shall not be named</td><td>Create a class based on the above user story (70 points).</td><td>Using the class you wrote, create a new car that has zero miles and zero gallons of fuel. Add 10 gallons of fuel to the tank, then take the car for a 45 mile drive that consumes 1.5 gallons of fuel (30 points).</td><td>Q1 (70 pts)</td><td>Q1 Comments</td><td>Q2 (30pts)</td><td>Q2 Comments</td><td>Total",
</td></tr><tr><td>
"shaoyangzhou</td><td>Jordan Mecom</td><td>Shaoyang Zhou</td><td>440747</td><td>public class Car {<br>	double fuel;<br>	double odometer;<br>	<br>	public Car(double fuel,double odometer){<br>		this.fuel=fuel;<br>		this.odometer=odometer;<br>	}<br>	<br>	public void drive(double miles,double consume){<br>		if (consume<this.fuel) {<br>			this.odometer+=miles;<br>			this.fuel-=consume;<br>		}<br>	}<br>	<br>	public void fillUp(double addFuel){<br>		this.fuel+=addFuel;<br>	}<br>}</td><td>Car newCar=new Car(0,0);<br>		newCar.fillUp(10);<br>		newCar.drive(45, 1.5);</td><td>65</td><td>-5: dont need conditional in drive</td><td>30</td><td>None</td><td>95</td><td>"
</td></tr></table>
