<head><style>table, th, td { border: 1px solid black; }</style></head><table><tr><td>
"Your Name</td><td>Your WUSTL Key</td><td>The number that shall not be named</td><td>Write a method called circleArea, that takes in the radius of a circle as input, and outputs the area of the circle (40 points).</td><td>Using one line of code, call the circleArea method with a radius of 5.2, storing the output in a variable (20 points).</td><td>True or false (10 points each): [All methods must have a return type.]</td><td>True or false (10 points each): [All methods must contain a return statement in the method body.]</td><td>True or false (10 points each): [All methods must have input parameters]</td><td>True or false (10 points each): [Methods can have one return statement at most.]</td><td>TA</td><td>Q1</td><td>Q1 Comments</td><td>Q2</td><td>Q2 Comments</td><td>Q3 </td><td>Q3 Comments</td><td>Total"
</td></tr><tr><td>
"Shaoyang Zhou</td><td>shaoyangzhou</td><td>440747</td><td>public static double circleArea(double r){<br>		return r*r*Math.PI;<br>	}</td><td>double area=circleArea(5.2);</td><td>T</td><td>F</td><td>F</td><td>F</td><td>JakeB</td><td>40</td><td>None</td><td>20</td><td>None</td><td>40</td><td>None</td><td>100"
</td></tr></table>
