<head><style>table, th, td { border: 1px solid black; }</style></head><table><tr><td>
"Your Name</td><td>Your WUSTL Key</td><td>The number that shall not be named</td><td>8 * 4 + 9 / 2</td><td>8 * (2 + 5) / 1.0</td><td>""abc"" + 4 + 5</td><td>4 + 5 + ""abc""</td><td>(8 &lt; 7) || !(5 == 7)</td><td>Write code that does the following: Create a variable x with a value of 7. Create a variable y with a value of 2. Change the value of x to be 10. Create a variable z that is true if x is less than y, false otherwise. (25 points)</td><td>Mark which type you would use for the following. (25 points) [The number of cards in a deck]</td><td>Mark which type you would use for the following. (25 points) [The probability that a card drawn from a deck will be an ace]</td><td>Mark which type you would use for the following. (25 points) [The name of the card manufacturer]</td><td>Mark which type you would use for the following. (25 points) [Whether or not there are any kings in the deck]</td><td>Mark which type you would use for the following. (25 points) [The value of a card pulled from the deck (i.e. 2, 3, 4, ..., J, K, Q, A)]</td><td>Grade (out of 100)</td><td>TA initials"
</td></tr><tr><td>
"Shangyang Zhou</td><td>shaoyangzhou</td><td>440747</td><td>36</td><td>56</td><td>abc45</td><td>9abc</td><td>1</td><td>int x=7;int y=2;x=9;boolean z=(x&lt;y);</td><td>int</td><td>double</td><td>string</td><td>boolean</td><td>string</td><td>25</td><td>danield"
</td></tr></table>
